{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.name }}!{% endblock %}

{% block body %}


    {% if(author) %}
    <div class="card">
        <div class="card-header">
            <h3>{{ author.firstName }} {{ author.lastName }}</h3>
        </div>

        <div class="card-body">
            <h5 class="card-title"><span class="font-weight-bold">Birthday</span>: {{ author.birthday|date('d-m-Y') }}</h5>
            <h5 class="card-title"><span class="font-weight-bold">Gender</span>: {{ author.gender|capitalize }}</h5>
            <h5 class="card-title"><span class="font-weight-bold">Place of birth</span>: {{ author.placeOfBirth }}</h5>
            <p class="card-text">{{ author.biography }}</p>

            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Title</th>
                    <th>Release date</th>
                    <th>Updated at</th>
                    <th>ISBN</th>
                    <th>Format</th>
                    <th>Number of pages</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% if(author.books.books) %}

                {% for book in author.books.books %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.releaseDate|date('d-m-Y') }}</td>
                    <td>{{ book.updatedAt|date('d-m-Y') }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.format }}</td>
                    <td>{{ book.numberOfPages }}</td>
                    <td><a href="{{ path('app_book_delete', {'author': author.id,'id': book.id}) }}" class="delete btn btn-danger btn-sm">&#10005;</a></td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}



{% endblock %}
