{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{#{% block title %}Hello {{ app.user.name }}!{% endblock %}#}

{% block body %}

    <div class="card">
        <div class="card-header">
            Book authors
        </div>
        <div class="card-body">
            <a href="{{ path('add_book') }}" class="btn btn-primary">Add book</a>

            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Birth place</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for author in authors.authors %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ author.firstName }}</td>
                    <td>{{ author.lastName }}</td>
                    <td>{{ author.birthday|date('d-m-Y') }}</td>
                    <td>{{ author.gender|capitalize }}</td>
                    <td>{{ author.placeOfBirth }}</td>
                    <td><a href="{{ path('app_author', {'id': author.id}) }}" class="update btn btn-warning btn-sm">&#9999;</a></td>
                    <td><a href="{{ path('app_author_delete', {'id': author.id}) }}" class="delete btn btn-danger btn-sm">&#10005;</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
