<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">QSS API App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                    <a class="nav-link" href="#">{{ app.user.name }} {{ app.user.surname }}  ({{ app.user.email }})</a>
            </li>
            <li class="nav-item">
                {% if app.user %}
                    <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{{path('app_login')}}">Login</a>
                {% endif %}
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_index') }}">Home</a>
            </li>

        </ul>



    </div>
</nav>

{% block javascripts %}



{% endblock %}
