{% extends 'base.html.twig' %}

{% block title %}Our Contact Form{% endblock title %}

{% block body %}



    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 pb-5">

            {{ form_start(our_form) }}
            {{ form_widget(our_form) }}

            <input type="submit" value="Send" class="btn btn-success" />

            {{ form_end(our_form) }}



        </div>
    </div>














{% endblock %}
