<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
        {% endblock %}

    </head>
    <body>
        {{ include('navbar/navbar.html.twig') }}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}


        {% endblock %}
        {% block javascripts %}


        <script src="{{ asset('build/js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
